<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Should do List</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style type="text/css">
    .groceries {
    	color: #BADA55;
    }

    .work {
    	color: #C0FFEE;
    }

    .school {
    	color: #D13537;
    }

    </style>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
  </head>

  <body ng-app="todoApp" ng-controller="todoController">

    <h1>Should do!</h1>
    <br>
    <div class="col-lg-6">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for..." ng-model="searchTerm">
	    </div>
	</div>

	<br><br/>

    <table class="table">
    	<thead>
    		<tr>
    			<th>Item</th><th>Category</th><th>Status</th><th></th>
    		</tr>
    	</thead>
    	<tbody>

            <!-- FOREACH item IN items -->
    		<tr ng-repeat="item in items | filter: checked=false | filter: searchTerm">
    			<td>
                    <span ng-hide="item.updating">{{item.name | puntjesToevoegen}}</span>
                    <input type="text" ng-model="item.name" ng-show="item.updating">

                </td>
                <td ng-class="{groceries: item.category==='Groceries', work: item.category==='Work', school: item.category==='School'}">

                    {{item.category}}

                </td>
                <td>
                    <input type="checkbox" ng-model="item.checked" ng-disabled="!item.updating">
                </td>
                <td>
                    <button type="button" class="btn btn-success" ng-click="updateItem(item)" ng-show="item.updating">Save</button>

                    <button type="button" class="btn btn-warning" ng-click="item.updating=true;" ng-hide="item.updating">Update</button>

                    <button type="button" class="btn btn-danger" ng-click="deleteItem(item)">Delete</button>
                </td>
    		</tr>

    	</tbody>
    </table>

    <hr>

    <form>
	  <div class="form-group">
	    <label for="itemInput">Should do item</label>
	    <input type="text" class="form-control" id="itemInput" placeholder="item ..." ng-model="newItem.name">
	  </div>
	  <div class="form-group">
	  	<select class="form-control" ng-model="newItem.category">
		  <option ng-repeat="cat in categories" value="{{cat}}">{{cat}}</option>
		</select>
	  </div>

	  <button type="button" class="btn btn-danger">Reset</button>
	  <button type="submit" class="btn btn-primary" ng-click="saveNewItem()">Save</button>
	</form>

    <script type="text/javascript" src="filters.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
